
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Search Applicant */

body {
	font-family: 'Josefin Sans', sans-serif;
}

h1.SearchApplicant {
	color: #248;
	display: flex;
	flex-direction: row;
	margin-top: 10%;
	}
  
  
h1.SearchApplicant:before, h1.SearchApplicant:after {
  	content: "";
   	flex: 1 1;
	border-bottom: 3px solid #248;
	margin: auto;
	}
	
	
.search{
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	}



.Search{
	width: 400px;
	margin: 16px auto;
	font-size: 16px;
	}
	

.Search-header, .Search p {
	margin-top: 0;
	margin-bottom: 0;
	border-top-left-radius: 5px;	
	border-top-right-radius: 5px;
	
	}


.Search-header{
	background: #248;
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	}


.container{
	background: #ebebeb;
	padding: 12px;
	border-radius: 5px;
	}


.Search p{
	padding: 12px;

	}


.Search input, button{
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 16px;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;	
	}


.Search input [type="ic"]{
	background: #fff;
	border-color: #bbb;
	color: #555;
	}


.Search input[type="ic"]:focus{
	border-color: #888;
	}


.Search input[type="submit"]{
	background: #248;
	border-color: transparent;
	color: #fff;
	cursor:pointer;
	border-radius: 35px;
	}


.Search button[type="button"]{
	background: #248;
	border-color: transparent;
	color: #fff;
	cursor:pointer;
	border-radius: 35px;
	}
	
	
.Search input[type="submit"]:hover{
	background: #17c;
	}
	
	
.Search input[type="submit"]:focus{
	border-color: #05a;
	}


.Search button[type="button"]:hover{
	background: #17c;
	}
	
	
.Search button[type="button"]:focus{
	border-color: #05a;
	}
	
.Search-triangle{
	width: 0;
	margin-right: auto;
	margin-left: auto;
	border: 12px solid transparent;
	border-bottom-color: #248;
	}



